.site-footer {
    color: get-color(light, 3);
}

.cta-inner {
  border-radius: 12px;
}

.cta .form-input {
    border-color: white !important;
    border-radius: 8px !important;
}

.ju {
  padding-top: 0.5em;
}
